@font-face {
  font-family: 'SelfDeception';
  src: url('../static/fonts/SelfDeceptionRegular-ALLWA.ttf') format('truetype');
}

html {
    background-color: black;
}

#c {
  height: 100vh;
  width: 100vw;
}

* {
  outline: none;
}

body {
  overflow: hidden;
}

.hud {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hud h1,
.hud p {
    background-color: rgba(16, 16, 16, 0.5);
    color: white;
    padding: 12px;
}

.hud .text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.hud .text-container * {
    width: 350px;
}

.hud h1 {
    height: 100px;
    width: 809px;
    display: flex;
    justify-content: center;
    font-family: 'SelfDeception';
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    position: relative;
}

.hud h1::before {
    content: url('../static/ornaments/Upper-ornament.png');
    height: 50px;
    position: absolute;
    top: -33px;
}

.hud h1::after {
    content: url('../static/ornaments/Lower-ornament.png');
    height: 50px;
    position: absolute;
    bottom: -13px;
}

.hud .text-container p {
    height: 500px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.hud .placeholder {
    height: 50px;
    background-color: rgba(16, 16, 16, 0);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}