@font-face {
  font-family: 'SelfDeception';
  src: url('../static/fonts/SelfDeceptionRegular-ALLWA.ttf') format('truetype');
}

#c {
  height: 100vh;
  width: 100vw;
}

* {
  outline: none;
}

body {
  overflow: hidden;
}

.hud {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hud .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 100%;
}

.hud .text-container * {
    background-color: rgba(16, 16, 16, 0.5);
    color: white;
    font-size: 2rem;
    padding: 16px;
}

.hud .text-container h1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SelfDeception';
    font-size: 4rem;
    font-weight: 200;
}

.hud .text-container p {
    height: 500px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.hud .placeholder {
    height: 50px;
    background-color: rgba(16, 16, 16, 0);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}